.pagecontainer {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    display: table;
}
.pagecontainer .pageheader {
    height: 70px;
    width: 100%;
    text-align: center;
    position: relative;
    //border-bottom: 1px solid black;
    background-color: #E23D80;
}
.pageTitle {
    width: 100%;
    height: 100%;
    float: left;
}
.pageheader .userDetails {
    width: 35%;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    padding-right: 11px;
}
#userName {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    text-align: right;
    width: 80%;
    font-size: 16px;
}

.endChatDiv {
    float: left;
}

.endChatDiv #endChatButton{
    float: left;
    width: 20px;
    height: 20px;
    opacity: .2;
}